/* .locations-menu {
  position: fixed;
  inset: 0;
  z-index: 3;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.1);
} */

.locations-menu__backdrop {
  position: fixed;
  inset: 0;
  background-color: rgba(0, 0, 0, 0.2);
  z-index: 3;
}

/* .locations-menu__content {
  width: min(95%, 350px);
  max-height: calc(100vh - 1rem);
  padding-bottom: 0.5rem;
  overflow-y: auto;
  background-color: var(--color-background);
  border-radius: 8px;
  box-shadow: var(--color-shadow);
  scrollbar-width: thin;
} */

.locations-menu {
  position: fixed;
  width: min(95%, 350px);
  max-height: calc(100vh - 1rem);
  padding-bottom: 0.5rem;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 4;
  overflow-y: auto;
  background-color: var(--color-background);
  border-radius: 8px;
  box-shadow: var(--color-shadow);
  scrollbar-width: thin;
}

.locations-menu__header {
  position: relative;
  padding: 1rem;
}

.locations-menu__title {
  color: var(--color-text);
  font-size: 1.25rem;
  font-weight: 600;
  text-align: center;
}

.locations-menu__button {
  width: 24px;
  height: 24px;
  background: none;
  border: none;
  color: var(--color-icon-button);
}

.locations-menu__button--close {
  position: absolute;
  top: 50%;
  right: 1rem;
  transform: translateY(-50%);
}

.locations-menu__icon {
  width: 100%;
  height: 100%;
}

.locations-menu__section {
  padding: 0.5rem 1rem;
  display: flex;
  flex-direction: column;
  gap: 0.25rem;
}

.locations-menu__section-title {
  color: var(--color-label);
  font-size: 0.9rem;
  font-weight: 500;
}

.locations-menu__current-location {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

.locations-menu__current-location-name {
  flex: 1;
  padding: 0.5rem;
  background-color: var(--color-surface);
  border-radius: 8px;
  color: var(--color-text);
  font-weight: 500;
}

.locations-menu__current-location-actions {
  display: flex;
  gap: 0.5rem;
}

.locations-menu__pinned-location-button {
  padding: 0.5rem;
  background-color: var(--color-surface);
  border: none;
  border-radius: 8px;
  color: var(--color-text);
  font-size: 1rem;
  font-weight: 500;
  text-align: left;
}

.locations-menu__saved-locations {
  max-height: 250px;
  padding: 0.25rem 0.5rem;
  margin: -0.25rem -0.5rem;
  overflow-y: auto;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  list-style-type: none;
  scrollbar-width: thin;
}

.locations-menu__saved-location {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 0.5rem;
  background-color: var(--color-surface);
  border-radius: 8px;
}

.locations-menu__saved-location-button {
  padding: 0.5rem;
  flex: 1;
  background: none;
  border: none;
  color: var(--color-text);
  font-size: 1rem;
  font-weight: 500;
  text-align: left;
}

.locations-menu__button--remove {
  margin-right: 0.5rem;
}

@media (hover: none) and (pointer: coarse) {
  .locations-menu__button--save:active {
    color: var(--color-green);
  }

  .locations-menu__button--pin:active {
    color: var(--color-amber);
  }

  .locations-menu__pinned-location-button:active {
    background-color: var(--color-touch);
  }

  .locations-menu__saved-location:active {
    background-color: var(--color-touch);
  }
}

@media (hover: hover) and (pointer: fine) {
  .locations-menu__button--save:hover {
    color: var(--color-green);
  }

  .locations-menu__button--pin:hover {
    color: var(--color-amber);
  }

  .locations-menu__button--remove:hover {
    color: var(--color-red);
  }

  .locations-menu__pinned-location-button:hover {
    background-color: var(--color-hover);
  }

  .locations-menu__saved-location:hover {
    background-color: var(--color-hover);
  }
}
